<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myapp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular.min.js"></script>
        <script>
        //create app using a global variable ctsApp
        var myapp = angular.module('myapp',[]);//(string param, aray param)
        //Build Controller
        myapp.controller('EmployeeController',['$scope',function($scope){
            //Augment $scope
//        $scope.salary = 20*10000;
//        $scope.name = 'Mayank';
        // HAS a relationship - Scope has an employee
        $scope.employees=[{
                name:'Mayank',
                salary:1000,
                department:'Development'
        },
        {
              name:'Rohit',
              salary:1000,
              department:'Development'
        },
        {
              name:'Navya',
              salary:1000,
              department:'Development'
        }
        ];
        //add APIs :  to add CRUD operations
        $scope.save = function(employee){
            console.log('save is called');
            //return employees;
        };
        $scope.findAll = function(){
            console.log('findAll is called');
        };
        $scope.findById = function(id){
            
        };
        $scope.remove = function(id){
            
        };
        $scope.update = function(id){
            
        };
        
        
        
        
        
        }]);
        </script>
    </head>
    <body>
        <div ng-controller="EmployeeController">
        <!-- Template-->
<!--        Your Salary is {{salary}}
        Your name is {{name}}-->
        <table border="1">
            <tr>
                <td>Name</td>
                <td>Salary</td>
                <td>Dept</td>
            </tr>
            <tr ng-repeat="e in employees">

                <td >{{e.name}}</td>
                <td >{{e.salary}}</td>
                <td >{{e.department}}</td>
            </tr>
        </table>
        <div  ng-repeat="e in employees">
            <p>Name : {{e.name}}</p>
            <p>Salary : {{e.salary}}</p>
            <p>Dept : {{e.department}}</p>
        </div>
        <input type="button" value ="save" ng-click="save()">    
        <input type="button" value ="findAll" ng-click="findAll()">  
        </div>
    </body>
</html>

